.hero-section {
  position: relative;
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(14, 13, 13);
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: rgba(7, 7, 7, 0.45);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
}


.spinning-name {
  display: inline-block;
  color: greenyellow; 
  animation: spinName 4s linear infinite;
}

@keyframes spinName {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}



